.signup-form {
  width: 100%;
  margin: 10px auto;
  padding: 5px;
}

mat-form-field, mat-checkbox, button {
  width: 90%;
  max-width: 500px;
  margin: 0px auto;
}
mat-toolbar {
  justify-content: center;
}

spinner {
  width: 110px;
  margin: 50px auto;
  padding: 0 auto;
}

mat-spinner {
  width: 100px;
  align-self: center;
  margin: 20px auto;
  padding: 10px;
}