<section fxLayout="column" fxLayoutGap="10px">
<div class="search"
  fxFlex
  fxLayout.gt-xs="row"
  fxLayout.xs="column"
  fxLayoutAlign="end center" 
  FxlayoutGap="5px">
  <div fxFlex fxFlexAlign="center" fxLayout="row">
    <mat-icon matPrefix>search</mat-icon><input type="text" (keyup)="doFilter($event.target.value)">
  </div>
  <div fxHide.lt-sm fxFlex="50%"></div>
  <mat-paginator fxFlex="end" [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<table fxFlex *ngIf="!hasLoadedExercise" fxFlex mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd MMM yyyy' }} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>
  <ng-container matColumnDef="calories" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Calories </th>
    <td mat-cell *matCellDef="let element">{{element.calories | number}}</td>
  </ng-container>
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>Duration</th>
    <td mat-cell *matCellDef="let element">{{element.duration | number}}</td>
  </ng-container>
  <ng-container matColumnDef="state" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
    <td mat-cell *matCellDef="let element">{{ element.state }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-card fxFlex  class="spinner" fxLayoutAlign="center"  *ngIf="hasLoadedExercise" >
  <mat-spinner [diameter]="50"></mat-spinner>
</mat-card>
</section>
